.admin{
    height: 600px;
    background: #444;
}
.container p{
    padding: 5px;
    margin: 0;
    color: #fff;
}
.admin-column-1{
    float: left;
    width: 20%;
}
.admin-profile-panel{
    margin: 5px;
    height: 100px;
    background: #333;
}
.admin-column-2{
    float: left;
    width: 80%;
}
.admin-menu-panel{
    margin: 5px;
    min-height: 100px;
    background: #333;
}
.admin-menu-panel .side-menu-one a{
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background: #333;
    margin-top: 5px;
    border-bottom: 1px solid #444;
}
.admin-menu-panel .side-menu-one a:hover{
    background: #555;
}
.admin-search input{
    background: #222;
}
.admin-search input:focus-within{
    background: rgb(88, 71, 13);
}
.admin-activity .activity-tab {
    display: block;
    margin-top: 5px;
    padding: 5px;
    border: #333 dotted 1px;
    width: 869px;
    /* height: 50px; */
    background: #555;
    line-height: 50px;
}
.admin-activity .activity-tab p{
    color: #ff9;
}
.admin-activity .activity-tab p button{
    color: #ff9;
    width: 90px;
    margin-top: -30px;
}

/* when the screen gets less than 600px in width hide the main navigation links except the right dashes */
@media screen and (max-width: 600px) {
    .admin{
        height: 100%;
        background: #444;
    }
    .admin-column-1 {
        display: none;
        /* margin: auto;
        width: 90%; */
    }
    .admin-column-2 .admin-search{
        margin: auto;
        width: 90%;
    }
    .admin-column-2 .admin-activity{
        margin: auto;
        width: 90%;
    }
    .admin-activity .activity-tab {
        display: block;
        margin-top: 5px;
        padding: 5px;
        border: #333 dotted 1px;
        width: 100%;
        min-height: 50px;
        background: #555;
        line-height: 50px;
    }
    .admin-activity .activity-tab p button{
        display: none;
    }
    .admin-activity .activity-tab p{
        font-size: 12px;
    }
}