/* when the screen gets less than 600px in width hide the main navigation links except the right dashes */
@media screen and (max-width: 600px) {
    .top-navigation a {
        display: none;
    }
    .top-navigation a.mobile {
      float: right;
      display: block;
      background: rgb(221, 221, 221);
    }
    /* call the resposive class using javascript */
    .top-navigation.responsive{
        position: relative;
    }
    .top-navigation.top-navigation.responsive a.mobile{
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-navigation.top-navigation.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    /* container */
    .container{
        margin: 0;
        width: 100%;
    }
    /* column */
    .column{
        width: 100%;
        padding: 0;
    }
    /* forms */
    input[type=text],input[type=email], input[type=password] {
        width: 100%;
        background: #f1f1f1;
    }
    .form-container {
        padding: 0;
    }
    .form-container h1{
    font-size: 14px;
    }
    .form-container p{
    font-size: 14px;
    }
  }